.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.red, .green {
    color: white;
}

.mr-10 {
    margin-right: 10px;
}

.row.container-fluid {
    text-align: center;
    display: flex;
    justify-content: center;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.font-bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.width-100 {
    width: 100%;
}

.padds {
    padding-top: 10px;
    padding-bottom: 10px;
}
